<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới Thiệu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="top-menu">
            <div class="logo">
                <img src="img/logo.png" alt="">
            </div>
            <form action="">
                <input class="search" type="text" placeholder="Nhập tên sách, tuyên tập, tác giả...">
                <button class="btn">tìm kiếm</button>
            </form>
            <div class="login">
                <button><a href="contact.html">đăng nhập</a></button>
                <button><a href="contact.html">đăng ký</a></button>
            </div>
        </div>
        <div class="bot-menu">
            <li><a href="index.html">trang chủ</a></li>
            <li><a href="product.html">sản phẩm</a></li>
            <li><a href="about.html">giới thiệu</a></li>
            <li><a href="contact.html">liên hệ</a></li>
            <li><a href="news.html">tin tức</a></li>
        </div>
    </header>
    <section class="section1">
        <div class="content1">
            <p class="about">Giới Thiệu</p>
            <p>
                Waka là Nền tảng xuất bản điện tử số một Việt Nam, trực thuộc Công ty Cổ phần Waka (Waka Corporation). <br><br>
Ra đời từ năm 2014, đến nay, Waka có hơn 3,2 triệu người dùng và hơn 13.000 nội dung điện tử đa dạng về thể loại, 
bao gồm: Kinh doanh, kỹ năng, văn học, khoa học – công nghệ, văn hóa – xã hội, thiếu nhi… Kho nội dung của Waka 
liên tục được cập nhật, bổ sung những đầu sách “best seller” trên thị trường của các nhà xuất bản, công ty phát 
hành, các tác giả trong và ngoài nước. <br><br>

Dịch vụ của Waka được cung cấp cho người dùng trên máy tính (bản hạn chế), máy tính bảng và các thiết bị hỗ trợ 
hệ điều hành iOS (10.0 trở lên) và Android ( 4.4 trở lên). <br><br>

<b>Tại sao bạn nên chọn Waka?</b> <br><br>

100% nội dung trên Waka là nội dung có bản quyền. Waka cam kết là nhà cung cấp dịch vụ và đối tác uy tín của bạn, 
động vì quyền lợi và sự phát triển bền vững của các bên <br><br>

<b>Đối với Độc giả:</b><br><br>

      + Đọc cả kho sách điện tử giá trị chỉ với chi phí tiết kiệm chỉ từ 1.000 đồng/ngày.
      + Đăng ký tài khoản nhanh chóng, thuận tiện. Hỗ trợ đăng ký từ các tài khoản Mạng xã hội như Facebook,
       Google+.
      + Sách mới được lựa chọn và cập nhật liên tục bởi đội ngũ biên tập viên giàu kinh nghiệm.
      + Đọc sách mọi lúc, mọi nơi, đồng bộ nội dung và lịch sử đọc sách trên đa màn hình, đa thiết bị.
      + Cơ hội được hưởng thêm những quyền lợi ưu đãi hấp dẫn khi trở thành thành viên của Waka <br><br>

<b>Đối với nhà xuất bản, nhà phát hành, tác giả độc lập:</b><br><br>

      + Được tạo kho sách riêng biệt và phát triển thương hiệu trong mảng sách điện tử
      + Được tiếp cận và giới thiệu tác phẩm đến với hơn 3 triệu người đọc trên nền tảng Waka một cách nhanh 
      chóng và hiệu quả nhất.
      + Bản quyền sách số được bảo vệ: Nội dung số được bảo vệ bằng công nghệ DRM, tránh sao chép và tái sử 
      dụng nội dung.
        Tất cả các trường hợp vi phạm bản quyền sách đều được xử lý nhanh chóng và nghiêm ngặt.
      + Được hỗ trợ về công nghệ và nhân lực để khai thác phiên bản sách số với doanh thu tối ưu.
Chỉ với thao tác đăng ký đơn giản, hãy trở thành thành viên của Waka ngay hôm nay!
            </p>
        </div>
        <div class="right1">
            
        </div>
    </section>
    <div class="slogan">
        <p class="author">_NGUYỄN NHẬT ÁNH_</p>
        <p>" Càng lớn tuổi, cong người ta càng ít nói đi. Họ nghĩ nhiều hơn "</p>
    </div>
    <footer>
        <div class="footer-transparent">
            <div class="information">
                <div>THÔNG TIN HỮU ÍCH</div>
                <P>
                    Review Truyện - Cafe Sách <br><br>
                    Tin waka <br><br>
                    Giới thiệu chung <br><br>
                    Thỏa thuận chung <br><br>
                </P>
                
            </div>
            <div class="contact">
                <div>THÔNG TIN LIÊN HỆ</div>
                <p>
                    Email: support@waka.vn <br><br>
                    Tel: 0243791844 <br><br>
                    Giấy xác nhận Đăng ký hoạt động phát hành xuất bản phẩm điện 
                    tử số 8132/XN-CXBIPH do Cục Xuất bản, <br> In và Phát hành cấp ngày 
                    31/12/2019

                </p>
            </div>
            <div class="connect">
                <div>LIÊN KẾT</div>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>