<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên Hệ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="top-menu">
            <div class="logo">
                <img src="img/logo.png" alt="">
            </div>
            <form action="">
                <input class="search" type="text" placeholder="Nhập tên sách, tuyên tập, tác giả...">
                <button class="btn">tìm kiếm</button>
            </form>
            <div class="login">
                <button><a href="contact.html">đăng nhập</a></button>
                <button><a href="contact.html">đăng ký</a></button>
            </div>
        </div>
        <div class="bot-menu">
            <li><a href="index.html">trang chủ</a></li>
            <li><a href="product.html">sản phẩm</a></li>
            <li><a href="about.html">giới thiệu</a></li>
            <li><a href="contact.html">liên hệ</a></li>
            <li><a href="news.html">tin tức</a></li>
        </div>
    </header>
    <section class="section2">
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.6515862561173!2d105.79302821442676!3d21.04662249254527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3abea8ced1%3A0xb680deb2d22b3fcd!2zV0FLQSBTSE9QIC0gTmjDoCBzw6FjaCB0cuG7sWMgdHV54bq_bg!5e0!3m2!1svi!2s!4v1588064924196!5m2!1svi!2s" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="form-transparent">
            <div class="form">
                <div class="sign-up">
                    <h2>ĐĂNG KÝ</h2>
                </div>
                
                <form action="">
                    <label for="">Tên </label>
                    <input class="box" type="text" placeholder="Nhập tên...">
                    <label for="">Email</label>
                    <input class="box" type="email" placeholder="Nhập email">
                    <label for="">Tên Đăng Nhập</label>
                    <input class="box" type="text" placeholder="Tên đăng nhập">
                    <label for="">Mật Khẩu</label>
                    <input class="box" type="password" placeholder="Nhập mật khẩu">
                    <label for="">Xác Nhận Mật Khẩu</label>
                    <input class="box" type="password" placeholder="Xác nhận mật khẩu">
                    <input type="checkbox"> Tôi đồng ý. <br><br>
                    <input class="submit" type="submit" value="Đăng Ký">
                </form>
                
            </div>
        </div>
    </section>
    <div class="slogan">
        <p class="author">MOMO, MICHAEL ENDE</p>
        <p>" Vì thời gian là cuộc sống. Mà chúng ta cảm nhận cuộc sống bằng con tim "</p>
    </div>
    <footer>
        <div class="footer-transparent">
            <div class="information">
                <div>THÔNG TIN HỮU ÍCH</div>
                <P>
                    Review Truyện - Cafe Sách <br><br>
                    Tin waka <br><br>
                    Giới thiệu chung <br><br>
                    Thỏa thuận chung <br><br>
                </P>
                
            </div>
            <div class="contact">
                <div>THÔNG TIN LIÊN HỆ</div>
                <p>
                    Email: support@waka.vn <br><br>
                    Tel: 0243791844 <br><br>
                    Giấy xác nhận Đăng ký hoạt động phát hành xuất bản phẩm điện 
                    tử số 8132/XN-CXBIPH do Cục Xuất bản, <br> In và Phát hành cấp ngày 
                    31/12/2019

                </p>
            </div>
            <div class="connect">
                <div>LIÊN KẾT</div>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </footer>

</body>
</html>