<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin Tức</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="top-menu">
            <div class="logo">
                <img src="img/logo.png" alt="">
            </div>
            <form action="">
                <input class="search" type="text" placeholder="Nhập tên sách, tuyên tập, tác giả...">
                <button class="btn">tìm kiếm</button>
            </form>
            <div class="login">
                <button><a href="contact.html">đăng nhập</a></button>
                <button><a href="contact.html">đăng ký</a></button>
            </div>
        </div>
        <div class="bot-menu">
            <li><a href="index.html">trang chủ</a></li>
            <li><a href="product.html">sản phẩm</a></li>
            <li><a href="about.html">giới thiệu</a></li>
            <li><a href="contact.html">liên hệ</a></li>
            <li><a href="news.html">tin tức</a></li>
        </div>
    </header>
    <section>
        <p class="news">Tin Waka</p>
        <div class="content2">
            <div class="row-new">
                <img src="img/new1.jpg" alt="">
                <a class="name" href="https://waka.vn/tin-tuc/soi-sale-sap-san-truyen-sale-mien-ban-nyd4W.html">sồi sale sập sàn - truyện sale miễn bàn</a>
                <p>23-04-2020 512 lượt xem <br><br>
                    Lần đầu tiên từ khi tính năng Hiệu Sồi ra mắt độc giả 
                    sẽ có cơ hội nhận ưu đãi khủng chưa từng có. Không đọc 
                    nhầm đâu, từ ngày 24/04/2020 đến 03/05/2020 combo "
                </p>
            </div>
            <div class="row-new">
                <img src="img/new2.jpg" alt="">
                <a class="name" href="">WAKASHOP TƯNG BỪNG TỔ CHỨC HỘI SÁCH ONLINE 2020 – GIẢM GIÁ LÊN ĐẾN 60%</a>
                <p>20-04-2020 147 lượt xem <br><br>
                    Hội sách Online Waka Shop tổ chức từ 21-26/4 với nhiều 
                    ưu đãi hấp dẫn dành cho người yêu sách giấy</p>
            </div>
            <div class="col-new">
                <img src="img/new1.jpg" alt="">
                <div class="text">
                    <a href="" class="name">THÔNG BÁO XỬ LÝ ĐĂNG KÝ GÓI VIP 1 NĂM</a>
                    <p>20-04-2020 141 lượt xem <br><br>
                        Thông báo về hỗ trợ đăng ký gói 1 năm trong chương 
                        trình "Mua 1 năm Tặng 1 Năm" đối với khách hàng đã đăng ký gói cước tự động gia hạn.</p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="col-new">
                <img src="img/col1.jpg" alt="">
                <div class="text">
                    <a href="" class="name">xin chào thiếu tướng - đồng sồi 99</a>
                    <p>15-04-2020 225 lượt xem <br><br>
                        "Xin chào thiếu tướng đại nhân" - Đồng Sồi 99 mời bạn ghé thăm 
                         quân nhân đỉnh nhất mùa dịch này.</p>
                </div>
            </div>
            <div class="col-new">
                <img src="img/col2.jpg" alt="">
                <div class="text">
                    <a href="" class="name">chương trình thử thách đọc sách</a>
                    <p>15-04-2020 225 lượt xem <br><br>
                        "Xin chào thiếu tướng đại nhân" - Đồng Sồi 99 mời bạn ghé thăm 
                         quân nhân đỉnh nhất mùa dịch này.</p>
                </div>
            </div>
            <div class="col-new">
                <img src="img/col3.jpg" alt="">
                <div class="text">
                    <a href="" class="name">sồi gấp bội giá không đổi</a>
                    <p>15-04-2020 225 lượt xem <br><br>
                        "Xin chào thiếu tướng đại nhân" - Đồng Sồi 99 mời bạn ghé thăm 
                         quân nhân đỉnh nhất mùa dịch này.</p>
                </div>
            </div>
            <div class="col-new">
                <img src="img/col4.jpg" alt="">
                <div class="text">
                    <a href="" class="name">hướng dẫn đăng ký</a>
                    <p>15-04-2020 225 lượt xem <br><br>
                        "Xin chào thiếu tướng đại nhân" - Đồng Sồi 99 mời bạn ghé thăm 
                         quân nhân đỉnh nhất mùa dịch này.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="slogan">
        <p class="author">MOMO, MICHAEL ENDE</p>
        <p>" Vì thời gian là cuộc sống. Mà chúng ta cảm nhận cuộc sống bằng con tim "</p>
    </div>
    <footer>
        <div class="footer-transparent">
            <div class="information">
                <div>THÔNG TIN HỮU ÍCH</div>
                <P>
                    Review Truyện - Cafe Sách <br><br>
                    Tin waka <br><br>
                    Giới thiệu chung <br><br>
                    Thỏa thuận chung <br><br>
                </P>
                
            </div>
            <div class="contact">
                <div>THÔNG TIN LIÊN HỆ</div>
                <p>
                    Email: support@waka.vn <br><br>
                    Tel: 0243791844 <br><br>
                    Giấy xác nhận Đăng ký hoạt động phát hành xuất bản phẩm điện 
                    tử số 8132/XN-CXBIPH do Cục Xuất bản, <br> In và Phát hành cấp ngày 
                    31/12/2019

                </p>
            </div>
            <div class="connect">
                <div>LIÊN KẾT</div>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>
</body>
</html>